{% extends "account/email/base.html" %}

{% block title %}
  <title>Predishun Password Reset</title>
{% endblock %}

{% block content %}
  <div>
    <p>
      Dear {{ display_name }},
    </p>
    <br>
    <p>
      We have received a request to recover your password.
      To recover your password, please click the "Reset password" button below.
    </p>
    <a class='buttonLink' href="{{ password_reset_url }}">
      <div class="button">Reset password</div>
    </a>
    <p>
      If you're having trouble clicking the "Reset password" button, copy and paste 
      the URL below into your web browser:
      {{ password_reset_url }}
    </p>
  </div>
{% endblock %}
